
<div class="tab-five-wrapper padd-100 float-start w-100">
    <div class="section-heading">
        <h4>привет {{ user.name }},
            ваш статус:
        {% if user.status == "3" %}
        курьер
        {% endif %}
        </h4>
    </div>
    <ul class="nav nav-pills mb-3 justify-content-center" id="pills-tab-five" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="pills-consult-tab" data-bs-toggle="pill" data-bs-target="#pills-consult"
                    type="button" role="tab" aria-controls="pills-consult" aria-selected="true">Turnaround Consulting
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="pills-planning-tab" data-bs-toggle="pill" data-bs-target="#pills-planning"
                    type="button" role="tab" aria-controls="pills-planning" aria-selected="false">Strategic Planning
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="pills-investment-tab" data-bs-toggle="pill" data-bs-target="#pills-investment"
                    type="button" role="tab" aria-controls="pills-investment" aria-selected="false">Investment Planning
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="pills-report-tab" data-bs-toggle="pill" data-bs-target="#pills-report"
                    type="button" role="tab" aria-controls="pills-report" aria-selected="false">Expense Reporting
            </button>
        </li>
    </ul>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="tab-content" id="pills-tabContentfive">
                    <div class="tab-pane fade show active" id="pills-consult" role="tabpanel"
                         aria-labelledby="pills-consult-tab">
                        <div class="tab-five-head">
                            <div class="tab-five-img">
                                <img src="images/tab/tab-img-02.jpg" alt="img">
                            </div>
                            <div class="tab-five-content">
                                <h2>кабинет 4</h2>
                                <div class="tab-five-strategic">
                                    <div class="tab-icon">
                                        <i class="far fa-lightbulb"></i>
                                    </div>
                                    <div class="strategic-content">
                                        <h5>Business consulting</h5>
                                        <p>Lorem ipsum is simply dummy text of the printing typesetting ipsum been
                                            text.</p>
                                    </div>
                                </div>
                                <div class="tab-five-strategic straregic-two">
                                    <div class="tab-icon">
                                        <i class="fas fa-globe"></i>
                                    </div>
                                    <div class="strategic-content">
                                        <h5>Innovative solutions</h5>
                                        <p>Lorem ipsum is simply dummy text of the printing typesetting ipsum been
                                            text.</p>
                                    </div>
                                </div>
                                <a href="javascript:;">Discover Now</a>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="pills-planning" role="tabpanel" aria-labelledby="pills-planning-tab">
                        <div class="tab-five-head">
                            <div class="tab-five-img">
                                <img src="images/tab/tab-img-02.jpg" alt="img">
                            </div>
                            <div class="tab-five-content">
                                <h2>Strategic Planning</h2>
                                <div class="tab-five-strategic">
                                    <div class="tab-icon">
                                        <i class="far fa-lightbulb"></i>
                                    </div>
                                    <div class="strategic-content">
                                        <h5>Business consulting</h5>
                                        <p>Lorem ipsum is simply dummy text of the printing typesetting ipsum been
                                            text.</p>
                                    </div>
                                </div>
                                <div class="tab-five-strategic straregic-two">
                                    <div class="tab-icon">
                                        <i class="fas fa-globe"></i>
                                    </div>
                                    <div class="strategic-content">
                                        <h5>Innovative solutions</h5>
                                        <p>Lorem ipsum is simply dummy text of the printing typesetting ipsum been
                                            text.</p>
                                    </div>
                                </div>
                                <a href="javascript:;">Discover Now</a>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="pills-investment" role="tabpanel"
                         aria-labelledby="pills-investment-tab">
                        <div class="tab-five-head">
                            <div class="tab-five-img">
                                <img src="images/tab/tab-img-02.jpg" alt="img">
                            </div>
                            <div class="tab-five-content">
                                <h2>Investment Planning</h2>
                                <div class="tab-five-strategic">
                                    <div class="tab-icon">
                                        <i class="far fa-lightbulb"></i>
                                    </div>
                                    <div class="strategic-content">
                                        <h5>Business consulting</h5>
                                        <p>Lorem ipsum is simply dummy text of the printing typesetting ipsum been
                                            text.</p>
                                    </div>
                                </div>
                                <div class="tab-five-strategic straregic-two">
                                    <div class="tab-icon">
                                        <i class="fas fa-globe"></i>
                                    </div>
                                    <div class="strategic-content">
                                        <h5>Innovative solutions</h5>
                                        <p>Lorem ipsum is simply dummy text of the printing typesetting ipsum been
                                            text.</p>
                                    </div>
                                </div>
                                <a href="javascript:;">Discover Now</a>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="pills-report" role="tabpanel" aria-labelledby="pills-report-tab">
                        <div class="tab-five-head">
                            <div class="tab-five-img">
                                <img src="images/tab/tab-img-02.jpg" alt="img">
                            </div>
                            <div class="tab-five-content">
                                <h2>Expense Reporting</h2>
                                <div class="tab-five-strategic">
                                    <div class="tab-icon">
                                        <i class="far fa-lightbulb"></i>
                                    </div>
                                    <div class="strategic-content">
                                        <h5>Business consulting</h5>
                                        <p>Lorem ipsum is simply dummy text of the printing typesetting ipsum been
                                            text.</p>
                                    </div>
                                </div>
                                <div class="tab-five-strategic straregic-two">
                                    <div class="tab-icon">
                                        <i class="fas fa-globe"></i>
                                    </div>
                                    <div class="strategic-content">
                                        <h5>Innovative solutions</h5>
                                        <p>Lorem ipsum is simply dummy text of the printing typesetting ipsum been
                                            text.</p>
                                    </div>
                                </div>
                                <a href="javascript:;">Discover Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



