<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<body>
<h1>привет</h1>

<div class="test">test1</div>
<div class="test">test2</div>
<p class="test">test3</p>
<p class="test">test4</p>

<script type="text/javascript">
var test = $("div");
alert(test.length);


</script>




</body>
</html>